#supplies {
    display: flex;
    flex-wrap: wrap;
}

#supplies li {
    width: 100px;
    height: 200px;
    border: 3px solid red;
    padding: 10px; 
    margin-right: 10px;
    margin-top: 10px;
}

#supplies li h3{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

#supplies li img {
    width: 100%;
}
a {
    color: green;
    text-decoration: none;
    font-size: 2rem;
}
a:hover{
    color: blue;
    font-weight: bold;
}